matplotlib==3.7.3
matplotlib==3.7.5
meegkit==0.1.7
mne==1.6.1
mne_bids==0.14
mne_icalabel==0.4
numexpr==2.8.6
numexpr==2.7.3
numpy==1.24.4
numpy==1.24.2
pandas==2.0.3
pandas==1.5.3
Pillow==10.0.1
Pillow==8.0.1
Pillow==10.4.0
plotly==5.22.0
pyprep==0.4.3
scipy==1.14.0
